body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 149px auto 0 auto;
  color: #45b29a;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  display: inline-block;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #1e836c;
  padding-bottom: 10px;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #45b29a;
}

.intro {
  width: 30%;
  margin: auto;
  font-family: 'Merriweather', serif;
  color: #45b29a;
}

p {
  color: #545454;
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.mine {
  display: inline-block;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
  right: 250px;
  bottom: 70px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.skills {
  margin-top: 80px;
}

.top-cloud {
  margin-top: 50px;
  position: absolute;
  right: 300px;
  top: 100px;
  display: inline-block;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 250px;
}

.mountain-pic {
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
}

.pic1 {
  border-radius: 50%;
  height: 140px;
  width: 140px;
}

.content-pic {
  height: 140px;
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.seo-pic {
  border-radius: 50%;
  height: 140px;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.react {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.74rem;
  padding: 20px 0px;
}
